// Animation
@keyframes fracture {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(20px);
  }
}

header {
  display: flex;
  justify-content: center;
  background-color: $color-accent-primary;
}

h1 {
  color: $black;
  margin: 0;
  font-size: 10vw;
  font-weight: 900;
  text-transform: uppercase;
  animation: fracture 5s infinite ease;

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}