button,
a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: transparent;
  color: $color-link;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}