//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

/// Texte
$font-size-text: rem(16);
$font-line-height: rem(24);

/// Font family
$font-text: 'Alegreya', serif;
$text-menu: 'Vollkorn', serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;

//DONE